html, body, #root {
  width: 100%;
  position: fixed;
  overflow: auto;
  height: 100%;
}

.hero {
  background-image: url('https://p4.wallpaperbetter.com/wallpaper/63/681/258/sports-gym-wallpaper-preview.jpg');
  overflow: hidden;
  background-size: cover;
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero-text {
  margin-left: auto;
  margin-right: auto;
  color: white;
  font-size: 2.5rem;
  text-shadow: 1px 0 1px #000, 
               0 1px 1px #000, 
               -1px 0 1px #000, 
               0 -1px 1px #000;
}

body {
  margin: 0;
  background-color: white;
}

.color-text {
  color: #6B2D29;
}

.color-btn, .back-green, .menu-btn, .sidebar-container, .open-modal-btn, .category-group, .add-catalog-btn, .add-btn {
  background-color: #6B2D29;
  color: white;
}

.color-btn:hover {
  background-color: #6B2D29;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-container {
  background-color: #6B2D29;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.links {
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.link {
  display: inline;
  text-decoration: none;
}

.link a {
  text-decoration: none;
  color: white;
}

.link a:hover {
  color: #eaeaea;
}

.log-btn, .profile-btn, .logout-btn, .profile-btn-header {
  /* float: right;
  margin-right: 30px; */
  background-color: transparent;
  color: white;
  border: none;
}

.main-btn {
  background-color: #6B2D29;
}

.profile-btn {
  display: block;
}

.log-btn, .profile-btn-header {
  margin-right: 30px;
}

.btns-container {
  float: right;
}

.log-btn:hover, .menu-btn:hover, .profile-btn:hover, .open-modal-btn:hover, .category-group:hover, .add-catalog-btn:hover, .add-btn:hover {
  cursor: pointer;
  color: #eaeaea;
}

.description-container {
  max-width: 950px;
}

.section-container {
  overflow: hidden;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 60px;
  padding-bottom: 60px;
  /* content: "";
  display: table;
  clear: both; */
}

.menu-descr-container {
  padding: 0;
  overflow: hidden;
  width: 100%;
}

.description-section {
  overflow: hidden;
}

.section {
  padding: 0 20px;
  width: 50%;
  float: left;
}

.half {
  padding: 0;
  overflow: hidden;
  width: 50%;
}

.mainpage-img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.half-img {
  height: 100%;
  width: auto;
}

.description-text {
  font-size: 1.2rem;
}

.back-green {
  max-height: 1070px;
  overflow: hidden;
}

.section-text {
  padding: 50px 30px;
  text-align: center;
}

.menu-btn, .profile-btn {
  border: solid 2px white;
  border-radius: 5px;
  padding: 10px;
  margin-top: 20px;
}

.open-modal-btn {
  border: solid 2px white;
  border-radius: 5px;
  padding: 7px;
  float:right;
  margin-top: 5px;
}

.fav-item-info {
  float: left;
}

.menu-text {
  font-size: 20px;
}

.menu-btn {
  display: block;
}

@media (min-width: 1100px) {
  .menu-text {
    font-size: 25px;
  }
  .section-text {
    padding: 100px 50px;
  }
  .menu-btn {
    margin-top: 30px;
    font-size: 20px;
  }
}

.profile-container {
  height: 100%;
  overflow: auto;
}

.sidebar-container {
  height: 100%;
  float: left;
  width: 30%;
  position: relative;
  text-align: center;
}

.sidebar-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sidebar-text {
  font-size: 40px;
}


.logout-btn {
  margin-top: 10px;
}

.logout-btn:hover {
  cursor: pointer;
  text-decoration: underline;
  color: #eaeaea;
}

@media (max-width: 700px) {
  .sidebar-text {
    font-size: 20px;
  }
  .profile-btn, .logout-btn {
    font-size: 15px;
  }
}

.fav-container {
  /* float: left; */
  overflow: auto;
  height: 100%;
}

.fav-title {
  color: #6B2D29;
  margin-top: 20px;
  margin-left: 40px;
}

.img-box {
  position: relative;
  overflow: hidden;
  height: 240px;
  border-radius: 5px;
}

.fav-img {
  width: 100%;
  border-radius: 5px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-height: 300px;
  object-fit: cover;
}

.fav-img-container {
  /* display: flex;
  justify-content: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 20px;
}

.fav-item {
  width: 100%;
  /* float: left; */
  position: relative;
  padding: 20px;
}

/* .fav-item:hover {
  cursor: pointer;
} */

.fav-item-info {
  padding-top: 10px;
}

.catalog-container {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.catalog-container h1 {
  margin-left: 40px;
  color:#6B2D29;
  margin-top: 80px; 
  margin-bottom: -20px;
}

.modal {
  overflow: hidden;

  width: 800px;
  max-width: 100%;
  height: 700px;
  max-height: 100%;

  background-color: white;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  border: solid 2px #6B2D29;
  border-radius: 5px;

  z-index: 1010;
}

.modal-overlay {
  z-index: 1000;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, .5);
}

.modal-content {
  position: absolute;
  /* top: 0;
  left: 0; */
  width: 100%;
  height: 89%;
  border: none;

  padding: 20px 20px 20px 20px;
  overflow: auto;
  align-items: center;
}

.modal-content p {
  width: 100%;
  word-wrap: break-word;

  font-size: 20px;
  color: #6B2D29;

  /* padding-top: 20px; */
  padding-left: 30px;
  padding-right: 30px;

  text-align: center;
}


.modal-hidden {
  display: none;
}

.modal-show {
  display: block;
}

.modal-header {
  background-color: white;
}

.modal-exercise {
  width: 80%;
  height: 70%;
}

.middle {
  text-align: center;
}

iframe {
  border: none;
  border-radius: 5px;
  margin-bottom: 30px;
}

.category-container {
  overflow: hidden;
  margin-top: 40px;
  margin-left: 40px;
}

.category-group, .add-catalog-btn, .add-btn {
  margin-right: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 5px;
}

.add-catalog-btn {
  margin-left: 40px;
  margin-top: 10px;
}

.add-btn {
  /* margin-top: 10px; */
  display: table;
  margin: 10px auto;
  padding: 5px 10px;
}

.categories-inline, .categories-inline-modal {
  display: grid;
}

.categories-inline {
  grid-template-columns: repeat(3, 1fr);
  /* padding-left: 30px;
  padding-right: 30px; */
}

.categories-inline-modal {
  grid-template-columns: repeat(3, 1fr);
}

.categories {
  padding: 15px;
}

.categories p {
  padding: 0;
}



.single-category {
  padding-bottom: 10px;
}

.single-category:hover {
  cursor: pointer;
  color:#6B2D29;
  text-decoration: underline;
}

.chosen {
  color:#6B2D29;
  text-decoration: underline;
}

.category-display {
  color: white;
  background-color: #6B2D29;
  border: 2px solid white;
  border-radius: 5px;
  text-align: center;
  padding: 3px;
  margin-left: 12px;
}

.modal-title {
  color: #6B2D29;
}

/* .add-modal {
  height: 700px;
} */

form h4 {
  color: #6B2D29;
  text-align: center;
  margin-top: 10px;
}


@media (max-width: 1000px) {
  .img-box {
    height: 200px;
  }
  .hero-text {
    font-size: 2rem;
  }
}

@media (max-width: 700px) {
  .img-box {
    height: 100px;
  }
  .fav-title {
    font-size: 1.5rem;
  }
  .hero-text {
    font-size: 1.5rem;
  }
}

@media (max-width: 460px) {
  .menu-text, .description-text, .section-text {
    font-size: 10px;
  }
}













