html, body {
  width: 100%;
  position: fixed;
  overflow: auto;
  height: 100%;
}

body {
  margin: 0;
  background-color: white;
}

.color-text {
  color: #39b19b;
}

.color-btn {
  background-color: #39b19b;
}

.color-btn:hover {
  background-color: #378879;
}

header {
  position: fixed;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
}

.header-container {
  background-color: #39b19b;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.links {
  list-style-type: none;
  margin-top: 16px;
  margin-bottom: 16px;
}

.link {
  display: inline;
  text-decoration: none;
}

.link a {
  text-decoration: none;
  color: white;
}

.link a:hover {
  color: #eaeaea;
}

.log-btn {
  float: right;
  padding-right: 40px;
}



